# WireGuard VPN Server Configuration Template
# Replace values and rename to wg0.conf

[Interface]
PrivateKey = vcGSdmmqDJW2SUYXzDKVh8smqAqowJ33YAxMjd7Pggo=
Address = 10.8.0.1/24
ListenPort = 51820
PostUp = iptables -A FORWARD -i %i -j ACCEPT; iptables -A FORWARD -o %i -j ACCEPT; iptables -t nat -A POSTROUTING -o eth0 -j MASQUERADE
PostDown = iptables -D FORWARD -i %i -j ACCEPT; iptables -D FORWARD -o %i -j ACCEPT; iptables -t nat -D POSTROUTING -o eth0 -j MASQUERADE

# Peers are managed dynamically by the API
# Do not manually add [Peer] sections here
