name: Build, Test & Push Device Agent

on: 
  push:
    branches:
      - master
    paths:
      - 'agent/**' 
      - build-device-agent.yml

jobs:
  test:
    name: Run Unit Tests
    runs-on: ubuntu-24.04
    
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'npm'
          cache-dependency-path: agent/package-lock.json

      - name: Install Agent dependencies
        working-directory: ./agent
        run: npm ci

      - name: Run unit tests
        working-directory: ./agent
        run: npm run test:unit

      - name: Build Agent
        working-directory: ./agent
        run: npm run build

  buildx:
    name: Build & Push Device Agent
    needs: test
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        include:
          - board: pi4
            platform: linux/arm/v7
          - board: pi4-64
            platform: linux/arm64/v8
          # - board: pi5
          #   platform: linux/arm64/v8
          - board: x86
            platform: linux/amd64

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Cache Docker layers
        uses: actions/cache@v4
        with:
          path: /tmp/.buildx-cache/${{ matrix.board }}
          key: buildx-agent-v2-${{ matrix.board }}-${{ github.sha }}
          restore-keys: |
            buildx-agent-v2-${{ matrix.board }}-

      # Login to Docker Hub (only if tests passed)
      - name: Login to Docker Hub
        if: success()
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}

      # Build and push to registry
      - name: Build & Push final image
        if: success()
        uses: docker/build-push-action@v5
        with:
          context: ./agent
          file: ./agent/Dockerfile
          push: true
          platforms: ${{ matrix.platform }}
          cache-from: type=local,src=/tmp/.buildx-cache/${{ matrix.board }}
          cache-to: type=local,dest=/tmp/.buildx-cache/${{ matrix.board }},mode=max
          tags: |
            iotistic/agent:latest-${{ matrix.board }}
